
@font-face {
    font-family: 'RobotoThin';
    src: url('../font/Roboto-Thin-webfont.eot');
    src: url('../font/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Thin-webfont.woff') format('woff'),
         url('../font/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../font/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;

}			
		
body,html{width:100%;height:100%;margin:0;padding:0;background-color:#eee;color: #222;}

#contact{
	text-align: center;
	position: absolute;
	left:0;
	right: 0;
	top:-8em;
	bottom: 0;
	margin: auto;
	width: 23em;
	height: 20em;
	padding: 3em;
	background-color: rgba(255,255,255,0.95h);
	border-radius: 1em;
	z-index: 1;
	display: none;
}
			
#contact div{
	margin-bottom: 0.5em;
}
#contact label{
	display: block;
	float: left;
	width: 5em;
	font:1.3em 'RobotoThin',sans-serif;
	padding-top: 0.4em;
	text-align: left;
}
#contact input, #contact textarea{
	border: 1px solid #eee;
	border-radius: 0.2em;
	padding: 0.4em 0.5em;
	font:1.3em 'RobotoThin',sans-serif;				
	outline: none;
	width: 10em;
	max-width: 10em;
}

#contact button{
	text-transform: uppercase;
	border: none;
	outline: none;
	border-radius: 0.5em;
	color: #fff;
	cursor: pointer;
	font:1.3em 'RobotoThin',sans-serif;				
}

.buttons{

	width: 14em;
	margin: 2em auto;
	
}

.buttons *{
	float: left;

}
.green{
	margin-right: 0.3em;
	padding: 0.7em 2em;
	background: -webkit-linear-gradient(#3cc83c 0%, #008f12 94.9%, #004e0a 95%, #004e0a 100%);
	
}

.green:hover{
	background: -webkit-linear-gradient(#42cf42 0%, #009815 94.9%, #004e0a 95%, #004e0a 100%);				
}

.green:active{
	background: -webkit-linear-gradient(#42cf42 0%, #009815 100%);				
}
.red{
	padding: 0.7em 0.3em;
	background: -webkit-linear-gradient(#c73b3b 0%, #8f0000 94.9%, #500000 95%, #500000 100%);
	
}

.red:hover{
	background: -webkit-linear-gradient(#cf4242 0%, #990000 94.9%, #500000 95%, #500000 100%);
}			

.red:active{
	background: -webkit-linear-gradient(#cf4242 0%, #990000 100%);

}			


.green:active,.red:active{
	
	margin-top: 2px !important;

}

#contact form{
	display: none;
}
#contact #close{
	margin-top: 9em;
	display: none;
}
#contact #close p{
	font:2em 'RobotoThin',sans-serif;
}

#contact #close button{
	font:1em 'RobotoThin',sans-serif;
}
#container{
	text-align: center;
	position: absolute;
	left:0;
	right: 0;
	top:-10em;
	bottom: 0;
	margin: auto;
	width: 27em;
	height: 23em;
}

#name,h1{font:2.1em 'RobotoThin';letter-spacing: -2px;padding: 0;margin: 0}
#mail{font:1.3em 'RobotoThin',sans-serif;}
.vcard{display:none;}

a:link,a:visited{
	text-decoration: none;
	color: #222;
}
a:hover{
	text-decoration: underline;
	color: #555;
}

#info img{
	border-radius: 100%;
	margin-bottom: 10px;
	border: 1px rgba(0,0,0,0.1) solid;
}

#mail span{
	margin: 0;
	padding: 0
}

#mail span::after{
	content: "•";

}

