body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #171421;
  background: #efefef;
}

a {
  color: #181934;
  text-decoration: none;
  transition: all 100ms;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.box {
  margin: 10px;
  background: #FFFFFF;
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #efefef);
  background: linear-gradient(to bottom, #FFFFFF, #efefef);
  text-align: center;
  height: 250px;
  width: 700px;
  border-radius: 125px;
  box-shadow: 0 25px 80px -12px rgba(0, 0, 0, 0.03), 0 4px 25px 0px rgba(0, 0, 0, 0.03), 0 8px 10px -5px rgba(0, 0, 0, 0.05);
}

.info {
  max-width: 450px;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.info h1 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.info h2 {
  font-weight: 300;
  font-size: 0.5em;
  padding: 0 30px;
  margin: 10px 0 0;
}

.avatar {
  float: left;
  position: relative;
  display: inline-block;
}

.avatar .eyes {
  left: 113px;
  top: 108px;
  width: 60px;
  position: absolute;
  fill: #191828;
  opacity: 0;
  animation: blinker 5s infinite;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.avatar img {
  height: 250px;
  border-radius: 125px;
}

.social {
  margin-top: 30px;
}

.social a {
  text-decoration: none;
  opacity: 0.75;
  margin: 0 2px;
}

.social a:hover {
  opacity: 0.95;
}

.social img {
  width: 30px;
}

.social .telegram {
  border-radius: 50%;
}

.text {
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/* Smartphones (portrait) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 850px) and (orientation: portrait) {
  .avatar {
    float: none;
    text-align: center;
  }
  .avatar img {
    box-shadow: 0 25px 80px -12px rgba(0, 0, 0, 0.07), 0 4px 25px 0px rgba(0, 0, 0, 0.07), 0 8px 10px -5px rgba(0, 0, 0, 0.09);
  }
  .info {
    margin: 10px auto 0;
  }
  .box {
    height: auto;
    background: none;
    box-shadow: none;
  }
  .br {
    display: none;
  }
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 850px) and (orientation: landscape) {
  /* .avatar {
    float: none;
  }
  .avatar img {
    box-shadow: 0 25px 80px -12px rgba(0, 0, 0, 0.07), 0 4px 25px 0px rgba(0, 0, 0, 0.07), 0 8px 10px -5px rgba(0, 0, 0, 0.09);
  }*/
  .info {
    font-size: 30px;
  }
}